#store #notice {
  color: #000;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}


#store h1 {
  font:  150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

#store .entry form, #store .entry form div {
  display: inline;
}
/* Styles
 * for
 * products/index
 * */

#product_list table {
  border-collapse: collapse;
}

#product_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
  margin: 0;
}

#product_list .list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#product_list .list_description dd {
  margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in
 * the store
 * catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

#store .entry p {
  margin-top: 0.5em; 
  margin-bottom: 0.8em; 
}

#store .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}
/* Styles for the cart in the main page */

#store {
  .cart_title {
    font: 120% bold;
  }
  .item_price, .total_line {
    text-align: right;
  }
  .total_line, .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}


/* Styles for main page */

#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
  img {
    float: left;
  }
}

#colums {
  background: #141;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: #fff;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #141;
  a {
    color: #bfb;
    font-size: small;
  }
}

/*styles for the cart in the sidebar*/
#cart, #cart table {
  font-size: smaller;
  color: #fff;
}

#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

/*Styles for order form*/

.depot_form {
  fieldset{
    background: #efe;
  }
  legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
  }
  label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
  }
  select, textarea, input {
    margin-left: 0.5em;
  }
  .submit {
    margin-left: 4em;
  }
  div {
    margin: 0.5em 0;
  }
}
