<!DOCTYPE html>
<html>
<head>
  <title>Praprog Books Online Store</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("SalivaMall.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">

      <div id="cart">
        <% if @cart %>
          <%= render @cart %>
        <% end %>
      </div>

      <a href="#">Home</a><br/>
      <a href="#">Questions</a><br/>
      <a href="#">News</a><br/>
      <a href="#">Contact</a><br/>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
